[submodule "reid/bpbreid"]
	path = reid/bpbreid
	url = https://github.com/VlSomers/person-reid
	branch = reconnaissance
[submodule "detect/DEKR"]
	path = detect/DEKR
	url = https://github.com/HRNet/DEKR.git
[submodule "eval/PoseTrack21"]
	path = eval/PoseTrack21
	url = https://github.com/anDoer/PoseTrack21.git
