albumentations
coremltools
Cython
easydict
Flask
gdown
h5py
imageio
ipdb
ipython
json_tricks
matplotlib
numpy
opencv-python
ortools
pafy
pandas
Pillow
psutil
pycocotools
pytest
PyYAML
requests
scipy
setuptools
Shapely
six
tensorboard
torch
torchvision
tqdm
xmltodict
yacs
hydra-core
pytorch_lightning
