-e './plugins/detect/mmdetection'
-e './plugins/detect/mmpose'
-e './plugins/detect/openpifpaf[dev,train,test]'
-e './plugins/eval/poseval'
-e './plugins/eval/PoseTrack21/eval/posetrack21'
-e './plugins/eval/PoseTrack21/eval/posetrack21_mot'
-r './plugins/reid/bpbreid/requirements.txt'
hydra-core
pytorch_lightning
lightning
openmim
ultralytics
sphinx
sphinx_rtd_theme
myst-parser
filterpy
easyocr