albumentations
clearml
coremltools
cx_Freeze
Cython
deepdiff
easydict
gdown
h5py
hydra-core
ipdb
lapsolver
mat4py
matplotlib
monai
mss
munkres
nbformat
numpy
omegaconf
onnx
onnxruntime
onnxsim
opencv_python_headless
ortools
pandas
Pillow
py2exe
pycocotools
pysparkling
pytest
python_json_logger
pytorch_lightning
pyvirtualcam
PyYAML
requests
scikit_image
scikit_learn
scipy
setuptools
Shapely
six
skimage
tabulate
thop
torch
torchmetrics
torchvision
tqdm
wandb
xmltodict
xtcocotools
yacs
