defaults:
  - default

_target_: tracklab.wrappers.MOT17

dataset_path: ${data_dir}/MOT17
eval_set: "train"
public_dets_subpath: "det/yolox_dets.txt"  # det.txt for public and yolox.txt for private

track_eval:
  dataset_class: MotChallenge2DBox
  BENCHMARK: "MOT17"
  DO_PREPROC: True
